*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    text-align: center;
    align-items: center;
}

.contact
{
    display: flex;
}

.form
{
    top: 160px;
    left: 200px;
    position: absolute;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.form .con
{
    position: relative;
}

.form .con input
{
    width: 100%;
    padding: 10px 0px;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
}

.con label
{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0px;
    font-size: 16px;
    color: #fff;
    transition: .5s;
}

.con input:focus ~ label,
.con input:valid ~ label
{
    top: -18px;
  left: 0px;
  color: #03a9f4;
  font-size: 12px;   
}
